use flake

export NOTIZEN_REMOTE_HOST=enigma.tail2121a.ts.net
export NOTIZEN_REMOTE_USER=$USER
export NOTIZEN_REMOTE_KEY=$HOME/.ssh/id_ed25519
export NOTIZEN_REMOTE_PATH="/home/$USER/notizen/source/"
